body {
  font-family: 'Open Sans', sans-serif;
  font-size: 10pt;
  background-image:url('/basics/_web/img/background.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

#navi, #content {
  padding: 1em;
  margin: 1em;
  border: 1px solid silver;
  border-radius: 0.5em;
  background-color: rgba(255,255,255,0.7);
  box-shadow: 0 0 3px 3px rgba(6,6,6,0.4);
}

#navi {
  position: fixed;
  top: 0;
  right: 0;
  max-width: 18em;
  height: 22em;
  clear: both;
}

#content {
  max-width: 45em;
}

h1 {
  font-size: 1.6em;
}
h2 {
  font-size: 1.4em;
}
h3 {
  font-size: 1.2em;
}