body {
  font-family: 'Open Sans', sans-serif;
  overflow: hidden;
}

nav {
  padding: 0.5em;
  text-align: center;
  background-colour: rgba(255,200,155,0.8);
  border: 1px solid slategray;
  border-radius: 0.5em;
  box-shadow: 0 0 3px 3px rgba(6,6,6,0.4);
  overflow: hidden;
}